{% use "bootstrap_4_layout.html.twig" %}

{% extends 'base-back/admin.html.twig' %}
{% block body %}
    <h1>Edit Category</h1>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

    <a href="{{ path('category_produit') }}">back to list</a>

     {% endblock %} 



