{% extends 'base3.html.twig' %}

{% block body %}



            <!-- Begin Blog Blockquote Area -->
                <div class="li-blog-blockquote">
                    <h3 class="li-blog-heading pt-25"><a href="#">The Response</a></h3>
                    <blockquote>
                        <p><h6>{{tab.message}}</h6></p>
                    </blockquote>
                </div>
            <!-- Blog Blockquote Area End Here -->




           
{% endblock %}