
<!DOCTYPE html>
<html>

<head>
    <title>Travel me</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        body {
            background: #E1EBEC;
            font-family: 'Poppins', sans-serif
        }

        .row {
            width: 3000px;
            border: none;
            border-radius: 10;
            line-height: 2;
            box-sizing: border-box
        }

        .lcol {
            background: linear-gradient(to bottom, rgb(255, 0, 0) 50%, rgb(10, 10, 10) 100%, rgb(10, 10, 10) 100%);
            height: 650px;
            padding: 0 50px
        }

        .rcol {
            background: #ffffff;
            padding: 100px;
            height: 650px
        }

        span.txt {
            color: #0a0a0a
        }

        .greeting {
            padding-top: 200px;
            padding-right: 40px
        }

        h6.mt-3 {
            padding-right: 115px
        }

        .footer {
            margin-top: 320px
        }

        .footer span {
            color: #B0A1E2;
            font-size: 9px;
            cursor: pointer
        }

        .fab {
            color: #EDEDF5;
            font-size: 10px;
            margin-right: 20px;
            padding-top: 3px;
            cursor: pointer
        }

        h2.heading {
            font-weight: 
          
        }
        .mb-4, .my-4 {

    margin-bottom: 0.8rem!important;
}

        .form-control {
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #f4b3b9;
        }

        .form-control::placeholder {
            font-size: 2px;
            color: #C2C2CC
        }

        .form-control:focus {
            box-shadow: none;
            border-bottom: 1px solid #F2F2F2
        }

        .fone input {
            padding-left: 10px
        }

        .fone {
            position: relative
        }

        .fone .fas {
            position: absolute;
            left: 0;
            top: 5px;
            padding: 8px 0px;
            color: #C2C2CC;
            font-size: 12px
        }

        .fone .image {
            position: absolute;
            left: 175px;
            top: 0px;
            cursor: pointer
        }

        .form-check-input {
            margin-top: 5px
        }

        .form-check-label {
            font-size: 2px;
            color: #C2C2CC
        }

        .btn-success {
            padding: 7px 40px;
            background: #ff0000;
            border: none;
            border-radius: 30px;
            font-size: 16px
        }

        .btn-success:hover {
            background: #0a0a0a
        }

        .btn-success:focus {
            box-shadow: none
        }

        u {
            cursor: pointer
        }

        p.exist {
            font-size: 9px;
            color: #C2C2CC
        }

        p.exist span {
            cursor: pointer;
            color: #ffffff
        }

        @media screen and (max-width: 993px) {
            .fone .image {
                position: absolute;
                left: 80px
            }

            .footer {
                margin-top: 70px
            }
        }

        @media screen and (max-width: 768px) {
            .row {
                width: 50px
            }

            .rcol {
                padding: 60px 180px 60px 60px
            }
        }

        @media screen and (max-width: 920px) {
            .rcol {
                padding: 60px 50px 60px 50px
            }

            .footer {
                margin-top: 40px
            }
        }
    </style>
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-md-6 text-left text-white lcol">
            <div class="greeting">
                <h3>Welcome to <span class="txt">Gym</span></h3>
            </div>
            <h6 class="mt-3">let's light some fire and get the show on the road...</h6>
            <div class="footer">
                <div class="socials d-flex flex-row justify-content-between text-white">
                    <div class="d-flex flex-row"><i class="fab fa-linkedin-in"></i><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i></div> <span>Privacy Policy</span> <span>&copy; 2020 Stoke</span>
                </div>
            </div>
        </div>
        
<!DOCTYPE html>
<html>

<head>
    <title>Travel me</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        body {
            background: #E1EBEC;
            font-family: 'Poppins', sans-serif
        }

        .row {
            width: 3000px;
            border: none;
            border-radius: 10;
            line-height: 2;
            box-sizing: border-box
        }

        .lcol {
            background: linear-gradient(to bottom, rgb(255, 0, 0) 50%, rgb(10, 10, 10) 100%, rgb(10, 10, 10) 100%);
            height: 650px;
            padding: 0 50px
        }

        .rcol {
            background: #ffffff;
            padding: 100px;
            height: 650px
        }

        span.txt {
            color: #0a0a0a
        }

        .greeting {
            padding-top: 200px;
            padding-right: 40px
        }

        h6.mt-3 {
            padding-right: 115px
        }

        .footer {
            margin-top: 320px
        }

        .footer span {
            color: #B0A1E2;
            font-size: 9px;
            cursor: pointer
        }

        .fab {
            color: #EDEDF5;
            font-size: 10px;
            margin-right: 20px;
            padding-top: 3px;
            cursor: pointer
        }

        h2.heading {
            font-weight: 
          
        }
        .mb-4, .my-4 {

    margin-bottom: 0.8rem!important;
}

        .form-control {
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #f4b3b9;
        }

        .form-control::placeholder {
            font-size: 2px;
            color: #C2C2CC
        }

        .form-control:focus {
            box-shadow: none;
            border-bottom: 1px solid #F2F2F2
        }

        .fone input {
            padding-left: 10px
        }

        .fone {
            position: relative
        }

        .fone .fas {
            position: absolute;
            left: 0;
            top: 5px;
            padding: 8px 0px;
            color: #C2C2CC;
            font-size: 12px
        }

        .fone .image {
            position: absolute;
            left: 175px;
            top: 0px;
            cursor: pointer
        }

        .form-check-input {
            margin-top: 5px
        }

        .form-check-label {
            font-size: 2px;
            color: #C2C2CC
        }

        .btn-success {
            padding: 7px 40px;
            background: #ff0000;
            border: none;
            border-radius: 30px;
            font-size: 16px
        }

        .btn-success:hover {
            background: #0a0a0a
        }

        .btn-success:focus {
            box-shadow: none
        }

        u {
            cursor: pointer
        }

        p.exist {
            font-size: 9px;
            color: #C2C2CC
        }

        p.exist span {
            cursor: pointer;
            color: #ffffff
        }

        @media screen and (max-width: 993px) {
            .fone .image {
                position: absolute;
                left: 80px
            }

            .footer {
                margin-top: 70px
            }
        }

        @media screen and (max-width: 768px) {
            .row {
                width: 50px
            }

            .rcol {
                padding: 60px 180px 60px 60px
            }
        }

        @media screen and (max-width: 920px) {
            .rcol {
                padding: 60px 50px 60px 50px
            }

            .footer {
                margin-top: 40px
            }
        }
    </style>
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-md-6 text-left text-white lcol">
            <div class="greeting">
                <h3>Welcome to <span class="txt">Gym</span></h3>
            </div>
            <h6 class="mt-3">let's light some fire and get the show on the road...</h6>
            <div class="footer">
                <div class="socials d-flex flex-row justify-content-between text-white">
                    <div class="d-flex flex-row"><i class="fab fa-linkedin-in"></i><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i></div> <span>Privacy Policy</span> <span>&copy; 2020 Stoke</span>
                </div>
            </div>
        </div>
<title>Password Reset Email Sent</title>>

<body>
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
</body>
  </div>
    </div>
</div>

</body>
</html>