<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %} welcome {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" 
        integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" 
        integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
        {% block js %}{% endblock %}
    </body>
</html>
