{% use "bootstrap_4_layout.html.twig" %}
{% extends 'base-back/admin.html.twig' %}

{% block body %}
    <Title>{% block title %}categorie {% endblock %} </Title>


    <body>


    <style>
        .button {
            background-color: white;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button2 {background-color: #008CBA;}
        .button3 {background-color: #f44336;}
        .button4 {background-color: #e7e7e7; color: black;}
        .button5 {background-color: #555555;}
    </style>


    <center>
        <h1>OUR CATEGORIES: </h1>
        <div>

        <td><a href="{{ path('addca')}}"> <button type="button" class="btn btn-outline-danger" ><font size="3pt" >{% trans %}Ajouter{% endtrans %}</font></button></a>
            </div>
        <table class="table" >
            <thead>
            <tr >
                <th>Nom categorie</th>

            </tr>
            </thead>


            <tbody>
            {% for ca in categorie  %}
                <tr>


                    
                    <td>{{ ca.nomcategorie }}</td>
                    


                    <td><a href="{{ path('ca_mod',{'idcategorie': ca.idcategorie}) }}"> <button type="button" class="btn btn-outline-danger" ><font size="3pt" >{% trans %}Update{% endtrans %}</font></button></a></td>
                    <td><a href="{{ path('delca',{'idcategorie': ca.idcategorie}) }}"> <button type="button" class="btn btn-outline-danger" ><font size="3pt" >{% trans %}Delete{% endtrans %}</font></button></a></td>


                </tr>
            {% endfor %}


            </tbody>


        </table>
    </center>



    </body>
{% endblock %}