{% block body %}
    <html>
    <head>
        <title>Buy cool new product</title>
    </head>
    <body>
    <form action="/checkout" method="POST">
        <button type="submit">Checkout</button>
    </form>
    </body>
    </html>
{% endblock %}