{% extends 'base2.html.twig' %}
{% block body %}
    <h1>Votre achat est enregistré !</h1>
    <td><a href="{{ path('Affiche_commande')}}"> <button type="button" class="btn btn-outline-warning" ><font size="3pt" >{% trans %}Mes Commandes{% endtrans %}</font></button></a>
    </td>
{% endblock %}